Command:empty_command
DicPath:dic.txt
CurrentFile:E:\out\0
DoOptimization:1
EchoOptimization:1
FileView:0
FilesDirectory:E:\smallout
LogFile:E:\log.txt
OccurranceView:1
ReportFile:0
ShowCount:1
ShowSummary:0
ShowTime:0
StemInput:1
StopWords:a an the in of is are with for
ThreadsCount:30
WordSeperators: 	.<>()|:=_/*+?!,;
correction:1
learning:1
