Command:index search NOT him NOT that NOT these NOT those NOT him
CurrentFile:9667
EchoOptimization:1
DoOptimization:1
FileView:0
FilesDirectory:E:\out
LogFile:E:\log.txt
OccurranceView:1
ReportFile:0
ShowCount:1
ShowSummary:0
StemInput:1
StopWords:a an the in of is are with for
ThreadsCount:30
WordSeperators: .<>()|:=_/*+?!,;
